html
{
	background-color: #fff;
	overflow-y: scroll;
	overflow-x: hidden;
} 

div.navigationPanel
{
	position:absolute;
	height:100%;
	width:5%;
  	left:0%;
	
	background-color:#f5f5f5;
	border-right: 5px solid #1BAAFD;
  	transition:left 0.5s;
}

<<<<<<< HEAD
.expandNavigationPanel
{
	width:16% !important;
}

input#search
{
  
  position: absolute;
  width: 73%;
  top: 12%;
  left: 24%;
}

div.newTile
{
	position:absolute;
	height:94%;
	width: 25%;
	left: 5%;
	z-index: 1;
	
	background-color:#3059AC;
	border-right: 5px solid #1BAAFD;
}

div.nameArea
{
	background-color:#f5f5f5;
	position: absolute;
	top: 2%;
  	left: 19%;
  	width: 80%;
  	height: 15%;
}

div.nameArea h1
{
	position: relative;
  	left: 38%;
  	margin-top: 30px;
}
div.nameArea button.right
{
  position: relative;
  transition: all 0.3s;
  background-color: #f5f5f5;
  border: 0px;
  bottom: 38px;
  left: 80%;
}

div.nameArea button.right:hover
{
  color:#1BAAFD;
  background-color: #f5f5f5;
}

div.nameArea button.left
{
  position: relative;
  transition: all 0.3s;
  background-color: #f5f5f5;
  border: 0px;
  bottom: 38px;
  left: 16%;
}

div.nameArea button.left:hover
{
  color:#1BAAFD;
  background-color: #f5f5f5;
}

div.canvas
{
	background-color: #f5f5f5;
	position:absolute;
	left:19%;
	width:80%;
	height:70%;
	top:20%;

}
i.glyphicon
{
	font-size: 2em;
	margin-left:5px;
}

.contractNavigationPanel
{
	left:-20% !important;
}
.navigationPanel ul
{
	margin-left: 10px;
}
.navigationPanel li 
{
	margin-bottom: 35px;
}
/*div.rightbar-item
{
  position: absolute;
  top: 2%;
  width: 71px;
  background-color: #f5f5f5;
  border-top: 1px solid #1BAAFD;
  border-right: 5px solid #1BAAFD;
  z-index:0;
}*/

.rightbar-item button.control {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 24px;
  position: relative;
  border-left: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 3px solid transparent;
  /*display: block;
  width: 60px;*/
  height: 55px;
  background: transparent;
  color: #aaa;
  z-index: 420;
}
.rightbar-item button:focus {
    outline:none
}

.rightbar-item button.control:hover {
    color: #1BAAFD;
}

.rightbar-item button.control i {
    font-size: 25px;
}

.rightbar-item.active button.control {
    background: #515151;
    border-right-color: #1BAAFD;
    border-top-color: #1BAAFD;
    border-bottom-color: #1BAAFD;
    color: #1BAAFD;
    margin-left: -1px;
    margin-right:2px;
}
